<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013742470138-9ta38ql0c5s8m2ogafm9las4v891u1cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013742470138-9ta38ql0c5s8m2ogafm9las4v891u1cs</string>
	<key>API_KEY</key>
	<string>AIzaSyAoGwEqKaZLJrITV61zjyMPjvYpeOMZLxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1013742470138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tempoloco</string>
	<key>PROJECT_ID</key>
	<string>tempoloco-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tempoloco-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013742470138:ios:6803f337181cf821975a43</string>
</dict>
</plist>